In [1]:
import numpy as np

In [2]:
#Q1
sales = [[1200, 1400, 800, 1100], 
 [1300, 1500, 1600, 1000], 
 [1100, 1200, 1000, 1050]]
Sales = np.array(sales)

In [3]:
Sales

array([[1200, 1400,  800, 1100],
       [1300, 1500, 1600, 1000],
       [1100, 1200, 1000, 1050]])

In [4]:
#Q2
cities = ['Dallas', 'Houston', 'Austin']
Cities = np.array(cities)
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
Quarters = np.array(quarters)

In [5]:
Cities

array(['Dallas', 'Houston', 'Austin'], dtype='<U7')

In [6]:
Quarters

array(['Q1', 'Q2', 'Q3', 'Q4'], dtype='<U2')

In [7]:
#Q3
userCity = input("What is the city?")

What is the city?Houston

In [8]:
#Q4
Sales[Cities == userCity]

array([[1300, 1500, 1600, 1000]])

In [9]:
#Q3
Cities == userCity

array([False,  True, False])

In [10]:
totalSales = Sales.sum(userCity)

TypeError: 'str' object cannot be interpreted as an integer

In [11]:
totalSales = Sales.sum[Cities == userCity]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [12]:
#Q5
totalSales = np.sum(Sales[Cities == userCity])
averageSales = np.mean(Sales[Cities == userCity])

In [13]:
totalSales

5400

In [14]:
AverageSales

NameError: name 'AverageSales' is not defined

In [15]:
averageSales

1350.0

In [16]:
#Q6
userInput = input("What is the Quarter?")

What is the Quarter?Q1

In [19]:
#Q7
count = 0
for quarter in Quarters:
    if quarter == userInput:
        break
    else: count += 1
        
for sold in Sales:
    print(sold[count])

1200
1300
1100

In [30]:
count = 0
for quarter in Quarters:
    if quarter == userInput:
        break
    else: count += 1
        
for sold in Sales:
    print(np.amax(sold[count], axis=0))

1200
1300
1100

In [34]:
#Q9
np.amax(Sales[Cities == 'Houston'], axis=1)

array([1600])

In [35]:
np.amax(Sales[Cities == 'Dallas'], axis = 1)

array([1400])

In [36]:
np.amax(Sales[Cities == 'Austin'], axis = 1)

array([1200])

In [46]:
#Q11
np.reshape(Sales, (4,3))

array([[1200, 1400,  800],
       [1100, 1300, 1500],
       [1600, 1000, 1100],
       [1200, 1000, 1050]])

In [38]:
Sales

array([[1200, 1400,  800, 1100],
       [1300, 1500, 1600, 1000],
       [1100, 1200, 1000, 1050]])